<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sample app for unit 1, lesson 2, assignement 7</title>

  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <link rel="stylesheet" href="main.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300" rel="stylesheet" >
</head>
<body ng-app="myApp">

  <div ng-controller="madLib">
    <form>
      <input ng-repeat="f in models" ng-model="inputs[f.model]" name="{{f.model}}" type="{{f.type}}" placeholder="{{f.placeholder}}">
      Male <input type="radio" ng-model="gender" value="male">
      Female <input type="radio" ng-model="gender" value="female">
    </form>

    <p>{{ inputs.maleName }} was a {{ inputs.jobTitle }} who loved technology. Although {{ getGender('heShe') }} loved parts of {{ getGender('hisHer') }} job, {{ getGender('heShe') }} absolutely hated {{ inputs.tediousTask }} and {{ inputs.dirtyTask }}. So, {{ inputs.maleName }} met with {{ getGender('hisHer') }} life mentor {{ inputs.celebrity }} who told him to learn how to {{ inputs.uselessSkill }} with Thinkful. Thinkful didn't offer a course on {{ inputs.uselessSkill }} so {{ getGender('heShe') }} studied programming instead.</p>

    <p>What a great decision! With {{ getGender('hisHer') }} new skill, {{ inputs.maleName }} built a(n) {{ inputs.adjective }} robot named {{ inputs.obnoxiousCelebrity }} that not only loved {{ inputs.dirtyTask }} but did it {{ inputs.hugeNumber }} faster.</p>
  </div>

<script src="main.js"></script>
  
</body>
</html>
