<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  
  <head>
    <meta charset="UTF-8">
    <script src="./../lib/jquery.min.js"></script>
    <script src="./../lib/angular.min.js"></script>
    <link rel="stylesheet" href="main.css">
    <title>Calculator app</title>
  </head>

  <body>
    <div ng-controller="DisplayCtrl">
      <div ng-if="content">{{ content }}</div>
      <div ng-if="!content">...</div>
    </div>

    <div ng-controller="MultiplicationCtrl" initial-number-limit="4">
      <input type="number" ng-model="numberLimit" placeholder="Enter a number" />
      <table>
          <tr ng-repeat="a in numbers">
              <td ng-repeat="b in numbers"
                  ng-click="setActiveNumber(compute(a, b))"
                  ng-mouseleave="clearActiveFactors()"
                  ng-mouseover="setActiveFactors(a, b)"
                  ng-class="{hover: matchesFactor(a, b)}">
                  {{ compute(a, b) }}
              </td>
          </tr>
      </table>
    </div>

    <div ng-controller="DisplayCtrl">
      <div ng-if="content">
        The value you have selected to display is: {{ content }}
      </div>
      <div ng-if="!content">
        You have not selected a value to display
      </div>
    </div>
    <script src="main.js"></script>
  </body>

</html>
