input {
  display: block;
}

/*
  on click, the shown element slides down and fades out
  once fully faded, the new element appears from the bottom up
*/


.show-hide-animation {
  position: absolute;
  top: 0;
}


/* animations */
.show-hide-animation.ng-hide-add {
  -webkit-animation:2s smooth-transition;
  /*animation:2s smooth-transition;*/
}

.show-hide-animation.ng-hide-remove {
  -webkit-animation:2s smooth-transition-opposite;
  /*animation:2s smooth-transition;*/

  opacity: 0;
  -webkit-animation-delay:2s;
  animation-delay:2s;
}

@-webkit-keyframes smooth-transition {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 500px;
    opacity: 0;
  }
}

@-webkit-keyframes smooth-transition-opposite {
  from {
    margin-top: 500px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

/*@keyframes smooth-transition {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 500px;
    opacity: 0;
  }
}*/
